{% extends "layout.html" %}

{% block post_head %}
	<link rel="stylesheet" href="static/css/admin.css" type="text/css" />
{% endblock %}
  
{% block content %}
  <div class="jumbo">
  	<h2>Admin page</h2>
  	<div class="admin-elem">
  		<label>Search in users</label>
  		<a href="{{ url_for('view_profile', username='Einar') }}">
	  		<div class="user">
	  			<img src="" width=50 height=50>
	  			<label>Einar</label>
	  		</div>
  		</a>
  	</div>
  	
  	<div class="admin-elem">
  		<label>Search in articles</label>
  		<label></label>
  	</div>
  	
  	<div class="admin-elem">
  		<label>Reported articles</label>
  		
  		<label></label>
  	</div>
  	
  	<div class="admin-elem">
  		<label>Reported comments</label>
  		<label></label>
  	</div>
  	
  </div>
{% endblock %}