{% extends "layout.html" %}

{% block post_head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/article_tabs.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/articles/questions.css') }}"/>
	<script language="javascript" src="{{ url_for('static', filename='js/articles.js') }}"></script>
	
	{% block sub_post_head %}
	{% endblock %}

	<!-- Syntax highlighter -->
	<script language="javascript" src="{{ url_for('static', filename='js/scripts/shCore.js') }}"></script>
	<script language="javascript" src="{{ url_for('static', filename='js/scripts/shBrushPython.js') }}"></script>
	<script language="javascript" src="{{ url_for('static', filename='js/scripts/shBrushCpp.js') }}"></script>
	<script language="javascript" src="{{ url_for('static', filename='js/scripts/shBrushCsharp.js') }}"></script>
	<script language="javascript" src="{{ url_for('static', filename='js/scripts/shBrushGo.js') }}"></script>
	<script language="javascript" src="{{ url_for('static', filename='js/scripts/shBrushJScript.js') }}"></script>
	<link href="{{ url_for('static', filename='css/styles/shCore.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/styles/shThemeDefault.css') }}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/articles.css') }}"/>
	
	
{% endblock %}

{% block content %}
	<div class="jumbo">
		{% block article_content %}
		{% endblock %}
	</div>
{% endblock %}