{% extends "layout.html" %}


{% block post_head %}
    <script type="text/javascript" src="static/js/validation.js"></script>
    <link rel="stylesheet" href="static/css/news.css" type="text/css" />

    {% block sub_post_head %}
    {% endblock %}

{% endblock %}

{% block content %}
  <div class="jumbo">
	<h2>Welcome to ProCode<h2>	
	<h3>News</h3>
    <div class="news-container">
		{% for new in news %}
    		<div class="news">
				<p class="title">{{ new.title }}</p>
				<p>{{ new.message }}</p>
				<label class="date">Posted: {{ new.date }}</label>
    		</div>
		{% endfor %}
    </div>
    
    {% block login_window %}
	{% endblock %}
	
	{% block registration_window %}
	{% endblock %}
    
  </div>
{% endblock %}