{% extends "layout.html" %}

{% block post_head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" type="text/css" />
	
	<!--<script type="text/javascript" src="{{ url_for('static', filename='js/jqxwidgets/jqxcore.j') }}s"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jqxwidgets/jqxwindow.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jqxwidgets/jqxbuttons.js') }}"></script>
	
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jqxwidgets/jqx.base.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jqxwidgets/jqx.shinyblack.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jqxwidgets/jqx.black.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jqxwidgets/jqx.ui-darkness.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jqxwidgets/jqx.ui-le-frog.css') }}" type="text/css" />
    -->
    {% block sub_post_head %}
    {% endblock %}
{% endblock %}

{% block content %}
 	<div class="jumbo">
  		<h2>{{ session['username'] }}
	  		{% if session['admin'] %}
	  			- Administrator
	  		{% endif %}
  		</h2>
    	<div>
    		<div class="profile_image">
    			<img src="{{ session['image_src'] }}" width=200 height=200>
    			<a href="{{ url_for('upload_profile_image') }}"><button class="blueBtn">Edit profile image</button></a>
    		</div>
    		<div class="top-5">
    			<div class="top-5-content-position">
	    			<ul class="content-list">
	    				<h4>5 latest code snippets:</h4>
	    				{% if code_snippets.count() == 0 %}
	    					<li>-No code snippets-</li>
	    				{% else %}
		    				{% for code_snippet in code_snippets|sort(attribute='date', reverse=True) %}
		    					{% if loop.index <= 5 %}
		    						<li><a href="{{ url_for('view_code_snippet', code_snippet_id=code_snippet.id) }}">{{ code_snippet.title }}</a></li>
		    					{% endif %}
		    				{% endfor %}
	    				{% endif %}
	    			</ul>
	    		</div>
	    		<div class="top-5-content-position">
	    			<ul class="content-list">
	    				<h4>5 latest questions:</h4>
	    				{% if questions.count() == 0 %}
	    					<li>-No questions-</li>
	    				{% else %}
		    				{% for question in questions|sort(attribute='date',reverse=True) %}
		    					{% if loop.index <= 5 %}
		    						<li><a href="{{ url_for('view_question', question_id=question.id) }}">{{ question.title }}</a></li>
		    					{% endif %}
		    				{% endfor %}
		    			{% endif %}
	    			</ul>
	    		</div>
	    		<div class="top-5-content-position">
    				<ul class="content-list">
    					<h4>5 latest findouts</h4>
    					{% if findouts.count() == 0 %}
	    					<li>-No findouts-</li>
	    				{% else %}
	    					{% for findout in findouts|sort(attribute='date', reverse=True) %}
	    						{% if loop.index <= 5 %}
		    						<li><a href="{{ url_for('view_findout', findout_id=findout.id) }}">{{ findout.title }}</a></li>
		    					{% endif %}
		    				{% endfor %}
		    			{% endif %}
    				</ul>
    			</div>
    		</div>
    	</div>
	    {% block upload_window %}
		{% endblock %}
	</div>
{% endblock %}