.syntaxhighlighter{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	width: 100% !important;
	overflow: auto !important;
	margin: 0 auto !important;
}

.article{
	margin: 0 auto;
	width: 75%;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	background-color: white;
}


p{
	width: 100%;
	overflow: auto;
	padding-top: 5px;
	padding-left: 10px;
}

.comments{
	margin: 0 auto;
	margin-top: 40px;
	width: 75%;
}

.comment{
	background: white;
	color: grey;
	margin-bottom: 5px;
	overflow: hidden;
	padding-right: 10px;
	/*padding-left: 10px;*/
}

.comment-message{
	float: left;
}

.comment-count{
	padding-top: 6px;
	background-color: grey;
	color: white;
	font-size: 18px;
	text-align: center;
	height: 30px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.write-comment{
	margin-top: 10px;
	width: 100%;
}

#error_msg{
	color: red;
}

.author-date{
	font-size: 12px;
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
}

.float-right{
	float: right;
}
