 /*
 * Display navigation links inline
 */
 
.menu {
  float: left;
  margin-top: 10px;
}
 
.menu li {
  display: inline-block;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
	color: #999;
	text-decoration: none;
}


.menu li:active {
	position:relative;
	top:1px;
}

.login{
	margin-top: 5px;
	float: right;
	width: 100px;
	text-align: center;
}