 /*
 * Display navigation links inline
 */
 
.menu {
  float: left;
  margin-top: 10px;
}
 
.menu li {
  display: inline-block;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
	color: #999;
	text-decoration: none;
}


.menu li:active {
	position:relative;
	top:1px;
}

.submenu{
	position: absolute;
	display: none;
	visibility: hidden;
}

.submenu li{
	display: block;
	visibility: visible;
}

.settings:hover ul{
	display: block;
 	visibility: visible;
}

/*
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}*/

.identifier{
	margin-top: 12px;
	margin-right: 20px;
	float: right;
	color: grey;
}

.login{
	margin-top: 5px;
	float: right;
	width: 100px;
	text-align: center;
}