.languages li {
	display:inline-block;
	background-color: #ffffff;
	width: 200px;
	height: 200px;
	margin-left: 35px;
	padding: 10px 10px 10px 10px;
	border: 5px solid #eeeeee;
}

.languages li:hover{
	border: 5px solid #5cbf2a;
}

.languages li:active {
	position:relative;
	top:1px;
}

hr{
	width: 60%;
	color: #999;
}

img{
	width: 200px;
	height: 200px;
}