.languages li {
  display: inline;
}
 
.languages li + li {
  margin-left: 35px;
}
 
.languages li a {
  color: #999;
  text-decoration: none;
}

hr{
	width: 50%;
}

img{
	width: 200px;
	height: 200px;
}