.add_form{
	margin: 0 auto;
	width: 75%;
}

.table{
	margin: 0 auto;
	width: 100%;
}

textarea{
	width: 100%;
}

.index-form{
	margin-bottom: 10px;
	width: 100%;
}

#error_field{
	color: red;
}

