{% extends "articles.html" %}

{% block article_content %}
	<h2>Code snippets</h2>
	<h3>{{ code_snippet.title }}</h3>
	<div class="code-snippet">
		<p>{{ code_snippet.prewords }}</p>
		<pre class="brush: {{ code_snippet.language }}">{{ code_snippet.code }}</pre>
		<p>{{ code_snippet.afterwords }}</p>
		<label class="author-date">Posted {{ code_snippet.date }} by {{ code_snippet.author }}</label>
	</div>
	<div class="comments">
		<label class="comment-count">{{ comments.count() }} comments</label>
		
		{% for comment in comments %}
			<div class="comment">
				<p class="comment-message">{{ comment.message }}</p>
				<label class="author-date">Posted {{ comment.date }} by {{ comment.author }}</label>
			</div>
		{% endfor %}
		<textarea id="post_comment_text" class="write-comment" placeholder="Leave a comment..."></textarea>
		<label id="error_msg"></label><button id="post_comment_btn" class="greenBtn float-right" onclick="post_comment({{ code_snippet.id }});">Comment</button>
	</div>

{% endblock %}