{% extends "articles.html" %}

{% block sub_post_head %}
	{% block sub_sub_post_head %}
	{% endblock %}
{% endblock %}

{% block article_content %}
	<h2>Articles</h2>	
	<div class="tabs">
		<ul class="tab-links">	        
	        <li id="code_snippets" ><a href="{{ url_for('all_code_snippets') }}">Code Snippets</a></li>
	        <li id="questions" ><a href="{{ url_for('all_questions') }}">Questions</a></li>
	        <li id="findouts" ><a href="{{ url_for('all_findouts') }}">Findouts</a></li>
	    </ul>
	</div>
	
	<div class="tab-content">
		{% block tab_content %}
		{% endblock %}
	</div>
	
	<!--
	<div>	
		<ul>
			<h4>Code snippets</h4>
			{% for code_snippet in code_snippets %}
				<li><a href="{{ url_for('view_code_snippet', code_snippet_id=code_snippet.id) }}">{{ code_snippet.title }}</a></li>
			{% endfor %}
		</ul>
		<ul>
			<h4>Questions</h4>
			{% for question in questions %}
				<li><a href="{{ url_for('view_question', question_id=question.id) }}">{{ question.title }}</a></li>
			{% endfor %}
		</ul>
		<ul>
			<h4>Findouts</h4>
			{% for findout in findouts %}
				<li><a href="{{ url_for('view_findout', findout_id=findout.id) }}">{{ findout.title }}</a></li>
			{% endfor %}
		</ul>
	</div>-->
{% endblock %}