{% extends "articles.html" %}

{% block tutorial_content %}
	<h2>Questions</h2>
	<h3>{{ question.title }}</h3>
	<div class="question">
		<p>{{ questions.question }}</p>
		<label class="author-date">Posted {{ question.date }} by {{ question.author }}</label>
	</div>
	<div class="comments">
		<label class="comment-count">{{ comments.count() }} comments</label>
		
		{% for comment in comments %}
			<div class="comment">
				<p class="comment-message">{{ comment.message }}</p>
				<label class="author-date">Posted {{ comment.date }} by {{ comment.author }}</label>
			</div>
		{% endfor %}
		<textarea id="post_comment_text" class="write-comment" placeholder="Leave a comment..."></textarea>
		<label id="error_msg"></label><button id="post_comment_btn" class="greenBtn float-right" onclick="post_comment({{ code_snippet.id }});">Post</button>
	</div>

{% endblock %}