{% extends "layout.html" %}

{% block post_head %}
    <script type="text/javascript" src="static/js/jqxwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="static/js/jqxwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="static/js/jqxwidgets/jqxbuttons.js"></script>
	
	<link rel="stylesheet" href="static/css/jqxwidgets/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="static/css/jqxwidgets/jqx.shinyblack.css" type="text/css" />
    <link rel="stylesheet" href="static/css/jqxwidgets/jqx.black.css" type="text/css" />
    <link rel="stylesheet" href="static/css/jqxwidgets/jqx.ui-darkness.css" type="text/css" />
    <link rel="stylesheet" href="static/css/jqxwidgets/jqx.ui-le-frog.css" type="text/css" />
    

{% endblock %}

{% block content %}
  <div class="jumbo">
    <h2>Welcome to ProCode<h2>
    <h3>To add articles or tutorials, please</h3>
    
    {% if not session.logged_in %}	    
	    <center>
	    <button id="loginBtn" class="greenBtn bigBtn">Log in</button>
	    or
	    <button id="registerBtn" class="blueBtn bigBtn">Register</button>
    	</center>
    	
    	
		<div id="login_window" caption="Log in">
			<div>
				<form action="{{ url_for('login') }}" method="POST">
						<label id="login_error" class="error"></label>
						<table>
						<tr>
							<td>Username:</td>
							<td><input type=text id="login_username" name=username></td>
						</tr>
						<tr>
						  	<td>Password:</td>
						  	<td><input type=password id="login_password" name=password></td>
						</tr>
						<tr>
				  			<td align="right" valign="bottom" colspan="2">
				  				<input type=submit id="login" class="greenBtn" value="Log in">
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		
		<div id="register_window" caption="Register">
			<div>
				<form action="{{ url_for('register') }}" method="POST">
					<label id="register_error" class="error"></label>
					<table>
						<tr>
							<td>Username:</td>
							<td><input id="register_username" type=text name=username autofocus></td>
						</tr>
						<tr>
						  	<td>Password:</td>
						  	<td><input id="register_password" type=password name=password></td>
						</tr>
						<tr>
						  	<td>Repeat password:</td>
						  	<td><input id="register_r_password" type=password name=r_password></td>
						</tr>
						<tr>
				  			<td align="right" valign="bottom" colspan="2">
				  				<input type=submit id="register" class="blueBtn" value="Register">
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
    {% else %}
    
    {% endif %}
  </div>
{% endblock %}