{% extends "layout.html" %}


{% block post_head %}
    <script type="text/javascript" src="static/js/jqxwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="static/js/jqxwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="static/js/jqxwidgets/jqxbuttons.js"></script>
	
	<link rel="stylesheet" href="static/css/jqxwidgets/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="static/css/jqxwidgets/jqx.shinyblack.css" type="text/css" />
    <link rel="stylesheet" href="static/css/jqxwidgets/jqx.black.css" type="text/css" />
    <link rel="stylesheet" href="static/css/jqxwidgets/jqx.ui-darkness.css" type="text/css" />
    <link rel="stylesheet" href="static/css/jqxwidgets/jqx.ui-le-frog.css" type="text/css" />
    
    <script type="text/javascript" src="static/js/validation.js"></script>
    <link rel="stylesheet" href="static/css/profile.css" type="text/css" />

    {% block sub_post_head %}
    {% endblock %}

{% endblock %}

{% block content %}
  <div class="jumbo">
    {% if not session.logged_in %}	
    	<h2>Welcome to ProCode<h2>
    	<h3>To add articles or tutorials, please</h3>    
	    <center>
	    <a href="{{ url_for('login') }}"> <button id="loginBtn" class="greenBtn bigBtn">Log in</button></a>
	    or
	    <a href="{{ url_for('registration') }}"> <button id="registerBtn" class="blueBtn bigBtn">Register</button></a>
    	</center>
    	
    	
		{% block login_window %}
		{% endblock %}
		
		{% block registration_window %}
		{% endblock %}
		
		
    {% else %}
    	<h2>{{ session['username'] }}</h2>
    	<div>
    		<div class="profile_image">
    			<img src="{{ session['image_src'] }}" width=200 height=200>
    			<a href="{{ url_for('upload_profile_image') }}" class="blueBtn">Edit profile image</a>
    		</div>
    		<div class="top-5">
    			<div class="top-5-content-position">
	    			<ul class="content-list">
	    				<h4> 5 latest code snippets:</h4>
	    				{% if code_snippets.count() == 0 %}
	    					<li>-No code snippets-</li>
	    				{% else %}
		    				{% for code_snippet in code_snippets|sort(attribute='date', reverse=True) %}
		    					{% if loop.index <= 5 %}
		    						<li><a href="{{ url_for('view_code_snippet', code_snippet_id=code_snippet.id) }}">{{ code_snippet.title }}</a></li>
		    					{% endif %}
		    				{% endfor %}
	    				{% endif %}
	    			</ul>
	    		</div>
	    		<div class="top-5-content-position">
	    			<ul class="content-list">
	    				<h4>5 latest questions:</h4>
	    				{% if questions.count() == 0 %}
	    					<li>-No questions-</li>
	    				{% else %}
		    				{% for question in questions|sort(attribute='date',reverse=True) %}
		    					{% if loop.index <= 5 %}
		    						<li><a href="{{ url_for('view_question', question_id=question.id) }}">{{ question.title }}</a></li>
		    					{% endif %}
		    				{% endfor %}
		    			{% endif %}
	    			</ul>
	    		</div>
	    		<div class="top-5-content-position">
    				<ul class="content-list">
    					<h4>5 latest findouts</h4>
    					{% if findouts.count() == 0 %}
	    					<li>-No findouts-</li>
	    				{% else %}
	    					{% for findout in findouts|sort(attribute='date', reverse=True) %}
	    						{% if loop.index <= 5 %}
		    						<li><a href="{{ url_for('view_findout', findout_id=findout.id) }}">{{ findout.title }}</a></li>
		    					{% endif %}
		    				{% endfor %}
		    			{% endif %}
    				</ul>
    			</div>
    		</div>
    	</div>
    	
    	{% block upload_window %}
		{% endblock %}
    	
    	<!--<p>image, username, change password, add/edit email/show, inbox.., ..news..??
    	</p>-->
    {% endif %}
  </div>
{% endblock %}