{% extends "layout.html" %}

{% block post_head %}
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	  <link rel="stylesheet" href="/resources/demos/style.css">
	  <script>
	  $(function() {
	    $( "#login_dialog" ).dialog();
	  });
	  </script>
{% endblock %}

{% block content %}
  <div class="jumbo">
    <h2>Welcome to ProCode<h2>
    <h3>To add articles or tutorials, please</h3>
    
    {% if not session.logged_in %}
	    <!--<div class="centre" style="width: 464px;">
	    	<div id="loginForm">
		    	<form action="{{ url_for('login') }}" method="POST">
		    		<dl>
		    			<dd>Username:
		    			<dd><input type=text name=username>
		    			<dd>Password:
		    			<dd><input type=password name=password>
		    			
		    		</dl>
		    		<dl id="registerForm">
		    			<dd>Repeat Password
	    				<dd><input type=password name=r_password>
		    		</dl>
		    	</form>
		    </div>-->
		    
		    		    
		    <center>
		    <button id="loginBtn" class="greenBtn bigBtn">Log in</button>
		    or
		    <button id="registerBtn" class="blueBtn bigBtn">Register</button>
	    	</center>
	    	
	    	
			<div id="login_dialog" class="dialog">
				<form>
					<dl>
						<dd>Username:
					  	<dd><input type=text name=username>
					  	<dd>Password:
					  	<dd><input type=password name=password>
					</dl>
					<p id="error"></p>
					<button class="redBtn">Cancel</button>
			  		<button class="greenBtn">Log in</button>
				</form>
			</div>
	    	
    {% else %}
    
    {% endif %}
  </div>
{% endblock %}