{% extends "articles.html" %}

{% block article_content %}
	{% if article.type == 'code snippet' %}
		<h2>Code snippet</h2>
	{% elif article.type == 'question' %}
		<h2>Question</h2>
	{% elif article.type == 'findout' %}
		<h2>Findout</h2>
	{% endif %}

	
	{% if article.type == 'code snippet' %}
		<div class="article">
			<div>
				<div class="float-left article-image">
					<img src="{{ profile_images[article.author] }}" width="100" height="100">
				</div>
				{% if session['username'] == article.author %}
				<div class="float-right icon_placement">
					<a href="{{ url_for('fetch_code_snippet_for_edit', code_snippet_id=article.id) }}"><img src="{{ url_for('static', filename='img/edit.png') }}" width="20" height="20"></a>
					<a href="{{ url_for('delete_code_snippet', code_snippet_id=article.id) }}"><img src="{{ url_for('static', filename='img/delete.png') }}" width="20" height="20"></a>
				</div>
				{% endif %}
				<div class="float-right">
					<p class="title">{{ article.title }}</p>
					<p>{{ article.prewords }}</p>
					<pre class="brush: {{ article.language }}">{{ article.code }}</pre>
					<p>{{ article.afterwords }}</p>
				</div>
			</div>
		</div>
	{% elif article.type == 'question' %}
		<div class="article">
			<div>
				<div class="float-left article-image">
					<img src="{{ profile_images[article.author] }}" width="100" height="100">
				</div>
				{% if session['username'] == article.author %}
				<div class="float-right icon_placement">
					<a href="{{ url_for('fetch_question_for_edit', question_id=article.id) }}"><img src="{{ url_for('static', filename='img/edit.png') }}" width="20" height="20"></a>
					<a href="{{ url_for('delete_question', question_id=article.id) }}"><img src="{{ url_for('static', filename='img/delete.png') }}" width="20" height="20"></a>
				</div>
				{% endif %}
				<div class="float-left">
					<p class="title">{{ article.title }}</p>
					<p>{{ article.question }}</p>
				</div>
			</div>
			
		</div>
	{% elif article.type == 'findout' %}
		<div class="article">
			<div class="float-left article-image">
				<img src="{{ profile_images[article.author] }}" width="100" height="100">
			</div>
			{% if session['username'] == article.author %}
			<div class="float-right icon_placement">
				<a href="{{ url_for('fetch_findout_for_edit', findout_id=article.id) }}"><img src="{{ url_for('static', filename='img/edit.png') }}" width="20" height="20"></a>
				<a href="{{ url_for('delete_findout', findout_id=article.id) }}"><img src="{{ url_for('static', filename='img/delete.png') }}" width="20" height="20"></a>
			</div>
			{% endif %}
			<div class="float-left">
				<p class="title">{{ article.title }}</p>
				<p>{{ article.findout }}</p>
			</div>
		</div>
	{% endif %}
		
	<div class="article-bottom">
		<label class="author-date">Posted {{ article.date }} by {{ article.author }}</label>
		 {% if article.type == "question" and article.author == session['username'] %}
		 	{% if article.answered==True %}
		 		<a class="float-right ans not-answered" href="{{ url_for('not_answered', question_id=article.id) }}">Mark as not answered</a>
		 	{% else %}
		 		<a class="float-right ans answered" href="{{ url_for('answered', question_id=article.id) }}">Mark as answered</a>
		 	{% endif %}
		 {% endif %}
	</div>
	
	<div class="comments">
		<label class="comment-count"><button id="view_comments" onclick="view_comments();">Hide</button> {{ comments.count() }} comments</label>
		
		<div id="comments">
			{% for comment in comments %}
				<div class="comment">
					<div class="float-left comment-image">
						<img src="{{ profile_images[comment.author] }}" width="75" height="75">
					</div>
					<div class="float-left">
						<p class="width whitespace">{{ comment.message }}</p>
					</div>
				</div>
				
				<div class="comment-bottom">
					<label class="author-date">Posted {{ comment.date }} by {{ comment.author }}</label>
				</div>
				
			{% endfor %}
		</div>	
		
		{% if session.logged_in %}
			<textarea id="post_comment_text" class="write-comment" placeholder="Leave a comment..."></textarea>
			<label id="error_msg"></label><button id="post_comment_btn" class="greenBtn float-right" onclick="post_comment({{ article.id }}, '{{ article.type }}');">Comment</button>
		{% endif %}
	</div>
	
	<script type="text/javascript">
	     SyntaxHighlighter.all()
	</script>
	
{% endblock %}