{% extends "articles.html" %}

{% block sub_post_head %}
	{% block sub_sub_post_head %}
	{% endblock %}
{% endblock %}

{% block article_content %}
	<h2>Articles</h2>	
	<div class="tabs">
		<ul class="tab-links">	        
	        <li id="code_snippets" ><a href="{{ url_for('all_code_snippets') }}">Code Snippets</a></li>
	        <li id="questions" ><a href="{{ url_for('all_questions') }}">Questions</a></li>
	        <li id="findouts" ><a href="{{ url_for('all_findouts') }}">Findouts</a></li>
	    </ul>
	</div>
	
	<div class="tab-content">
		{% block tab_content %}
		{% endblock %}
	</div>
{% endblock %}